@model IEnumerable<LabReservation.UI.Areas.Admin.Models.AreaModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AreaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAtHome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LabName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AreaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <th>
                @Html.DisplayFor(model => item.AtHome)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.CityName)
            </td>
            <th>
                @Html.DisplayFor(model => item.LabName)
            </th>
            <td>
                @Html.ActionLink("Edit", "Edit", new { AreaId = item.AreaId }) |
                @Html.ActionLink("Delete", "Delete", new { AreaId = item.AreaId })
            </td>
        </tr>
        }
    </tbody>
</table>
