@model LabReservation.UI.Areas.Admin.Models.BranchModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>BranchModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-controller="Branchs" method="post">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.BranchId)
            <div class="form-group">
                <label>Branch Name</label>
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label asp-for="LabId" class="control-label">Lab</label>
                @Html.DropDownListFor(model => model.LabId, new SelectList(Model.Labs, "LabId", "Name"), "Select Lab", new { onchange = "refreshAreas()", @class = "form-control  input-sm" })
                @Html.ValidationMessageFor(model => model.LabId, "", new { @class = "text-danger" })
            </div>


            <div class="form-group">
                <label asp-for="AreaId" class="control-label">Area</label>
                @Html.DropDownListFor(model => model.AreaId, new SelectList(Model.Areas, "AreaId", "Name"), "Select Area", new { @class = "form-control  input-sm", @disabled = "disabled" })
                @Html.ValidationMessageFor(model => model.AreaId, "", new { @class = "text-danger" })
            </div>


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



<script>
    function refreshAreas() {

        if ($('#LabId').val() != "") {
            $('#AreaId').attr('disabled', 'disabled');
            $('#AreaId').html('')

            $.post('@Url.Action("GetAreas", "Branchs")', { labId: $('#LabId').val() }, function (data) {
                data.forEach(function (item, index) {
                    $('#AreaId').append('<option value="' + item.areaId + '">' + item.name + '</option>')
                });
                $('#AreaId').removeAttr('disabled');

            }).fail(function () {
            });
        } else {
            $('#AreaId').html('')
            $('#AreaId').attr('disabled', 'disabled');
        }
        }


</script>